.card {
  margin:0;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.9);
  background-clip: initial;
  /* // border: .0625rem solid rgba(0,0,0,.05); */
  border-radius: .25rem;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  flex: 1 1 auto;
  padding: 1rem;
}
.d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
